<h1>Stupid Coaching</h1>
<div class="card">
  <p><%= @answer %></p>
  <p><em>-You</em></p>
</div>
<div class="card answer">
  <p><strong><%= @coachAnswer %></strong></p>
  <p><em>-Your coach</em></p>
</div>
<!-- link back to ask page -->
<%= link_to "Ask a new question", ask_path %>
